<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.md.cfashsbugff">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="com.md.cfashsbugff.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="任意字符"
        android:exported="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashBuff"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:replace="android:appComponentFactory">
        <activity
            android:name="com.md.cfashsbugff.activity.PolicyActivity"
            android:exported="true" />
        <activity
            android:name="com.md.cfashsbugff.activity.AgreeActivity"
            android:exported="true" />
        <activity
            android:name="com.md.cfashsbugff.activity.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name="com.md.cfashsbugff.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.md.cfashsbugff.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

    </application>

</manifest>